:root{
--control-bg:#f8dbff;
--bg-linear:linear-gradient(to right, #6EC1E4 , #61CE70);
--bg-card:#ffffff3d;
}

body {
    --bg-light-gray: #6EC1E4;
    background-image:var(--bg-linear);
}
.navbar-light{background-color:#6c227d;border-bottom:0;}
.for-email-login .page-card .page-card-body input[type=email], .for-email-login .page-card .page-card-body input[type=password], .for-email-login .page-card .page-card-body input[type=text], .for-forgot .page-card .page-card-body input[type=email], .for-forgot .page-card .page-card-body input[type=password], .for-forgot .page-card .page-card-body input[type=text], .for-login .page-card .page-card-body input[type=email], .for-login .page-card .page-card-body input[type=password], .for-login .page-card .page-card-body input[type=text], .for-signup .page-card .page-card-body input[type=email], .for-signup .page-card .page-card-body input[type=password], .for-signup .page-card .page-card-body input[type=text]{--control-bg:#f8dbff;}
.for-email-login .page-card{backdrop-filter: blur(10px); background-color: hsla(0,0%,100%,.8) !important; border: 1px solid rgb(226 232 240/1);}
.btn.btn-primary{--primary:#464a4e;}.btn-group-sm>.btn, .btn-sm, .btn-xs{padding: 0.45rem 0.5rem;}.btn-primary.focus, .btn-primary:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus{box-shadow:none;}.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle{background-color: #090e13;
    border-color: #090e13;}
.web-footer,.navbar{display:none !important;}.my-4{margin-bottom:0 !important;}
.page-card{background-color:var(--bg-card)!important}
